body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    margin-bottom: 20px;
}

#exerciseList {
    margin-top: 20px;
}

#list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}

.list-item i {
    margin-right: 10px;
    font-size: 20px;
}

.list-item:hover {
    cursor: pointer;
}

.file-info {
    display: flex;
    flex-direction: column;  /* This should be column */
    align-items: flex-start;
    margin-right: 10px;
}

.file-name {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.size-uploader {
    display: contents;
    align-items: flex-end;
    text-align: right;
}

.uploader {
    font-size: 14px;
    color: #555;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mb-20 {
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
}