body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
}

.profile-image {
    flex: 1;
    height: 200px;
    text-align: center;
}

.profile-image img {
    width: 100%;
    max-width: 200px;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.profile-information {
    flex: 2;
    padding-left: 20px;
}

.profile-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profile-field label {
    display: block;
    margin-bottom: 5px;
}

.profile-field span {
    display: block;
    font-size: 16px;
}

.profile-field .icon {
    margin-right: 5px;
}

.profile-field .larger {
    font-size: 24px;
    font-weight: bold;
}

.avatar-button {
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.avatar-button:hover {
    background-color: #45a049;
}

.edit-icon {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 20px;
    cursor: pointer;
    color: #555;
}

.delete-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #555;
}

.edit-mode input {
    padding: 5px;
    width: 30%;
}

.message-container {
    max-width: 800px;
    margin: 20px auto 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-form {
    margin-bottom: 20px;
}

.message-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.message-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.message-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-item p,
.message-item input {
    margin: 0;
    flex-grow: 1;
    display: block;
}

.message-item input {
    display: none;
}

.message-item i {
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}

.message-button {
    background-color: #4caf50;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message-button:hover {
    background-color: #45a049;
}

.display-content {
    display: contents;
}

.avatar-input {
    display: none;
}